<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="dark" style="color-scheme: dark;">


<th:block th:fragment="setContent(content)">

    <link rel="stylesheet" th:href="@{/css/itempage.css}">
    <script th:src="@{/js/jquery-1.12.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- 부트스트랩css -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

        <!-- JQuery -->
        <script th:src="@{/js/jquery.js}"></script>

        <!-- 부트스트랩js -->
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/mainpage.css}">
    </head>
    <body>


    <header>
        <div class="upper">
            <div class="inset">
                <nav class="menu_left">
                    <div class="menu_nav">
                        <a href="#" class="records">Records</a>
                        <a href="#" class="toys">Toys</a>
                    </div>
                </nav>
                <a th:href="@{/}" class="logo">oh, Universe</a>
                <div class="icon_right">
                    <a href="javascript:void(0);" onclick="openModal()"><i class="glyphicon glyphicon-user"></i></a>
                    <a href="#"><i class="glyphicon glyphicon-heart"></i></a>
                    <a th:href="@{/cartPage}" ><i class="glyphicon glyphicon-shopping-cart"></i></a>
                </div>
                <div class="search">
                    <input type="search" placeholder="Search">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
        </div>

        <!-- 모달 -->

        <div id="myModal" class="modal">
            <div class="modal_content">
                <div class="login_popup_top">
                    <p>Login</p>
                    <span class="close" onclick="closeModal()">&times;</span>
                </div>
                <div class="login_box">
                    <form action="/user/login" method="post">

                        <div class="login_write">
                            <p>ID</p>
                            <div class="login_write_id" >
                                <input type="text" placeholder="아이디를 입력하세요." name="username">
                            </div>
                            <p>PASSWORD</p>
                            <div class="login_write_pw">
                                <input type="password" placeholder="비밀번호를 입력하세요." name="password">
                            </div>
                        </div>
                        <div class="login_row_box">
                            <div class="forget_box">
                                <a href="#">아이디 </a>/
                                <a href="#">비밀번호찾기</a>
                            </div>
                            <input type="checkbox" value="" class="memory_name">
                            <p>아이디저장</p>
                        </div>
                        <div class="login_btn_box">
                            <input type="submit" value="Login" class="login_btn">
                        </div>

                    </form>

                    <div class="login_join">
                        <a th:href="@{/joinpage}">회원가입</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function openModal() {
                document.getElementById('myModal').style.display = 'block';
            }

            function closeModal() {
                document.getElementById('myModal').style.display = 'none';
            }
        </script>

        <!--  -->

        <div class="lower">
            <div class="inset">
                <nav class="menu_bar">
                    <a th:href="@{prod/prodList}">New In</a>
                    <a href="item_listpage.html">Top 100</a>
                    <a href="#">Exclusives</a>
                    <a href="#">Genres</a>
                    <a href="#">Preorder</a>
                    <a href="#">User Vinyl</a>
                    <a href="#">Equipment</a>
                    <a href="#">Merchandise</a>
                    <a href="#">Print & Design</a>
                    <a href="#">Mag</a>
                    <a href="#" style="color: red;">Sale</a>
                </nav>
            </div>
        </div>
    </header>




    <main th:replace="${content}"></main>


    <footer>
        <div class="container">
            <div class="row">
                <div class="ft_content">
                    <ul class="content_list">
                        <h5>Help</h5>
                        <li>주문상태</li>
                        <li>결제</li>
                        <li>배송</li>
                        <li>교환 및 반품</li>
                        <li>자주하는 질문</li>
                        <li>문의하기</li>
                    </ul>
                    <ul class="content_list">
                        <h5>Contact</h5>
                        <li>연락처 : </li>
                        <li>02-999-9999</li>
                        <li>이메일 : </li>
                        <li>theholidaynight@gmail.com</li>
                        <li>인스타 : <a href="https://www.instagram.com/c.ha_n/">c.ha_n<img th:src="@{/img/instaicon.png}" alt="" style="height: 20px;"></a></li>
                    </ul>
                </div>
                <div class="ft_banner">
                    <ul class="banner_left">
                        <p>made with by chan © 2023 </p>
                    </ul>
                    <ul class="banner_right">
                        <li>접근성</li>
                        <li>이용약관</li>
                        <li>개인 정보 정책</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    </body>

</th:block>

</html>