<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="dark" style="color-scheme: dark;">


<th:block th:fragment="setContent(content)">

    <link rel="stylesheet" th:href="@{/css/itempage.css}">
    <script th:src="@{/js/jquery-1.12.1.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- 부트스트랩css -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

        <!-- JQuery -->
        <script th:src="@{/js/jquery.js}"></script>

        <!-- 부트스트랩js -->
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/mainpage.css}">
    </head>
    <body>


    <header>
        <div class="upper">
            <div class="inset">
                <nav class="menu_left">
                    <div class="menu_nav">
                        <a href="#" class="records">Records</a>
                        <a href="#" class="toys">Toys</a>
                    </div>
                </nav>
                <a th:href="@{/}" class="logo">oh, Universe</a>
                <div class="icon_right">
                    <a href="javascript:void(0);" onclick="openModal()"><i id="userIcon"
                                                                           class="glyphicon glyphicon-user"></i></a>
                    <a href="#"><i class="glyphicon glyphicon-heart"></i></a>
                    <a href="#" onclick="cart_page(event)"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                </div>
                <div class="search">
                    <form th:action="@{/prod/prodList}">
                        <input type="search" placeholder="Search" id="search-input" name="search_data">
                        <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <!-- 로그인 모달 -->

        <div id="myModal" class="modal">
            <div class="modal_content">
                <div class="login_popup_top">
                    <p>Login</p>
                    <span class="close" onclick="closeModal()">&times;</span>
                </div>
                <div class="login_box">
                    <form action="#" method="post">

                        <div class="login_write">
                            <p>ID</p>
                            <div class="login_write_id">
                                <input type="text" placeholder="아이디를 입력하세요." name="username" class="username">
                            </div>
                            <p>PASSWORD</p>
                            <div class="login_write_pw">
                                <input type="password" placeholder="비밀번호를 입력하세요." name="password" class="password">
                            </div>
                        </div>
                        <div class="login_row_box">
                            <div class="forget_box">
                                <a href="#">아이디 </a>/
                                <a href="javascript:void(0)" onclick="findOpenModal()">비밀번호찾기</a>
                            </div>
                            <input type="checkbox" value="" class="memory_name">
                            <p>아이디저장</p>
                        </div>
                        <div class="login_btn_box">
                            <input type="button" value="Login" class="login_btn" onclick="login()">
                        </div>

                    </form>

                    <div class="login_join">
                        <a th:href="@{/joinpage}">회원가입</a>
                    </div>

                    <div class="social_login">
                        <a href="#"><img src="../../static/img/kakao_login_medium_wide.png" alt="카카오계정 로그인"></a>
                    </div>
                </div>
            </div>
        </div>


        <!-- find password modal -->
        <div id="find" class="find_modal">
            <div class="find_modal_content">
                <div class="find_popup_top">
                    <p>비밀번호 찾기</p>
                    <span class="close" onclick="findCloseModal()">&times;</span>
                </div>
                <div class="find_box">
                    <form action="#" method="post">

                        <div class="find_write">
                            <p>ID</p>
                            <div class="find_write_id">
                                <input type="text" placeholder="아이디를 입력하세요." name="username1" class="username" id="write_username">
                            </div>
                            <p>EMAIL</p>
                            <div class="find_write_email">
                                <input type="email" placeholder="이메일을 입력하세요." name="email1" class="email">
                            </div>
                        </div>

                        <div class="find_btn_box">
                            <input type="button" value="인증번호 받기" class="find_btn" onclick="authBtn()">
                        </div>

                    </form>

                </div>
            </div>
        </div>


        <!-- password modify modal -->
        <div id="pwModify" class="modify_modal">
            <div class="modify_modal_content">
                <div class="modify_popup_top">
                    <p>비밀번호 변경하기</p>
                    <span class="close" onclick="modifyCloseModal()">&times;</span>
                </div>
                <div class="modify_box">
                    <form action="#" method="post">

                        <div class="modify_write">
                            <p>PASSWORD</p>
                            <div class="modify_password">
                                <input type="password" placeholder="비밀번호를 입력하세요." name="password" class="modify_password_input">
                            </div>
                            <p>PASSWORD</p>
                            <div class="modify_password2">
                                <input type="password" placeholder="다시 비밀번호를 입력하세요." name="password2" class="modify_password2_input">
                            </div>
                        </div>

                        <div class="modify_btn_box">
                            <input type="button" value="비밀번호 변경하기" class="modify_btn" onclick="modifyBtn()">
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="lower">
            <div class="inset">
                <nav class="menu_bar">
                    <a th:href="@{/prod/prodList(search_data=)}">New In</a>
                    <a href="item_listpage.html">Top 100</a>
                    <a href="#">Exclusives</a>
                    <a href="#">Genres</a>
                    <a href="#">Preorder</a>
                    <a href="#">User Vinyl</a>
                    <a href="#">Equipment</a>
                    <a href="#">Merchandise</a>
                    <a href="#">Print & Design</a>
                    <a href="#">Mag</a>
                    <a href="#" style="color: red;">Sale</a>
                </nav>
            </div>
        </div>
    </header>


    <main th:replace="${content}"></main>


    <footer>
        <div class="container">
            <div class="row">
                <div class="ft_content">
                    <ul class="content_list">
                        <h5>Help</h5>
                        <li>주문상태</li>
                        <li>결제</li>
                        <li>배송</li>
                        <li>교환 및 반품</li>
                        <li>자주하는 질문</li>
                        <li>문의하기</li>
                    </ul>
                    <ul class="content_list">
                        <h5>Contact</h5>
                        <li>연락처 :</li>
                        <li>02-999-9999</li>
                        <li>이메일 :</li>
                        <li>theholidaynight@gmail.com</li>
                        <li>인스타 : <a href="https://www.instagram.com/c.ha_n/">c.ha_n<img th:src="@{/img/instaicon.png}"
                                                                                         alt=""
                                                                                         style="height: 20px;"></a></li>
                    </ul>
                </div>
                <div class="ft_banner">
                    <ul class="banner_left">
                        <p>made with by chan © 2023 </p>
                    </ul>
                    <ul class="banner_right">
                        <li>접근성</li>
                        <li>이용약관</li>
                        <li>개인 정보 정책</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    </body>

    <script th:inline="javascript">
        let msg = '[[${msg}]]';
        if (msg !== 'null') {
            alert(msg);
        }

    </script>

    <script>
        let username = localStorage.getItem("username");
        let token = localStorage.getItem("token");

        // 로그인
        function login() {
            const formData = new FormData();
            let username = document.querySelector(".username").value;
            let password = document.querySelector(".password").value;
            formData.append("username", username);
            formData.append("password", password);
            try {
                fetch('/login', {
                    method: 'POST',
                    body: formData,
                })
                    .then((response) => {
                        if (response.status !== 200) {
                            alert('아이디 또는 비밀번호를 확인해주세요.');
                            throw new Error('아이디와 비밀번호를 확인해주세요.'); // 에러 발생
                        }
                        return response.json()
                    })
                    .then((data) => {
                        const username = data.username;
                        localStorage.setItem('username', username);
                        console.log(username);
                        const token = data.token; // 암호화된 토큰
                        let payload = token.substring( // 진짜 토큰 가져오기
                            token.indexOf('.') + 1,
                            token.lastIndexOf('.')
                        );
                        localStorage.setItem('token', token);
                        let json_data = atob(payload);
                        let dec = JSON.parse(json_data);
                        let role = dec.role;
                        alert("반갑습니다.")
                        window.location = "/";
                    })
                    .catch(Error => console.log('Error : ', Error));
            } catch (error) {
                alert('아이디 또는 비밀번호를 확인해주세요.');
                console.error('로그인 요청 중 오류 발생:', error);
            }

        };

        function cart_page(e) {
            e.preventDefault();
            if (username == null) {
                alert('로그인 후 이용해주세요.');
                return;
            }

            window.location = "/cartPage?username=" + username;
        };


        let userIcon = document.getElementById("userIcon");
        userIcon.addEventListener('click', function () {
            if (username !== null) {
                // 로그아웃 확인 창 띄우기
                if (confirm("로그아웃 하시겠습니까?")) {
                    localStorage.removeItem("username");
                    localStorage.removeItem("token");
                    window.location.href = "/logout";
                }
            } else {
                openModal();
            }
        });

        // 로그인 모달 창 열기 함수
        function openModal() {
            if (username === null) {
                document.getElementById('myModal').style.display = 'block';
            }
        }

        function closeModal() {
            document.getElementById('myModal').style.display = 'none';
            let login_write_id = document.querySelector(".login_write_id > input");
            let login_write_pw = document.querySelector(".login_write_pw > input");
            login_write_id.value = "";
            login_write_pw.value = "";
        }

        // 비밀번호 찾기 모달 창 열기
        function findOpenModal() {
            closeModal();
            if (username === null) {
                const findModal = document.getElementById('find');
                findModal.style.display = 'block';
                findModal.classList.add("z_index");
            }
        }
        function modifyCloseModal() {
            document.getElementById('pwModify').style.display = 'none';
            let modify_password = document.querySelector(".modify_password > input");
            let modify_password2 = document.querySelector(".modify_password2 > input");
            modify_password.value = "";
            modify_password2.value = "";
        }

        function modifyOpenModal() {
            findCloseModal();
            const pwModify = document.getElementById('pwModify');
            pwModify.style.display = 'block';
        }

        function findCloseModal() {
            document.getElementById('find').style.display = 'none';
            let find_write_id = document.querySelector(".find_write_id > input");
            let find_write_email = document.querySelector(".find_write_email > input");
            find_write_id.value = "";
            find_write_email.value = "";
            let find_btn_box = document.querySelector(".find_btn_box");
            let find_btn = document.querySelector(".find_btn");
            let find_div = document.querySelector(".find_div");
            let time_box_div = document.querySelector(".time_box_div");
            find_btn.disabled = false;
            find_btn_box.removeChild(find_div);
            find_btn_box.removeChild(time_box_div);
        }

        let authNumber = null;

        function authBtn() {
            let find_write_id = document.querySelector(".find_write_id > input");
            let find_write_email = document.querySelector(".find_write_email > input");
            fetch("/checkEmail", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                body: JSON.stringify({
                    username: find_write_id.value,
                    email: find_write_email.value
                })
            })
                .then((response) => response.text())
                .then((data) => {
                    if (data === '0') alert("아이디와 이메일을 확인해주세요.");
                    else {
                        let find_btn = document.querySelector(".find_btn");
                        find_btn.disabled = true;
                        find_btn.style.backgroundColor = "#aeaeae";
                        let find_btn_box = document.querySelector(".find_btn_box");
                        let find_div = document.createElement("div");
                        let auth_input = document.createElement("input");
                        let time_box_div = document.createElement("div");
                        let time_div = document.createElement("div");
                        let time_btn_div = document.createElement("div");
                        let min_span = document.createElement("span");
                        let sec_span = document.createElement("span");
                        let auth_btn = document.createElement("input");
                        auth_input.classList.add("auth_input");
                        auth_input.placeholder = "인증번호를 입력해주세요.";
                        time_box_div.classList.add("time_box_div");
                        find_div.classList.add("find_div");
                        time_div.classList.add("time_div");
                        time_btn_div.classList.add("time_btn_div");
                        auth_btn.type = "button"
                        auth_btn.onclick = authResult;
                        auth_btn.classList.add("auth_btn");
                        auth_btn.value = "인증확인";

                        time_div.appendChild(min_span);
                        time_div.appendChild(sec_span);
                        time_btn_div.appendChild(auth_btn);
                        time_box_div.appendChild(time_div);
                        time_box_div.appendChild(time_btn_div);

                        find_div.appendChild(auth_input);
                        find_btn_box.appendChild(find_div);
                        find_btn_box.appendChild(time_box_div);

                        let time = 180;
                        setInterval(function () {
                            if (time > 0) {
                                time = time - 1;
                                let min = Math.floor(time / 60);
                                let sec = String(time % 60).padStart(2, "0");
                                min_span.innerText = min + " : ";
                                sec_span.innerText = sec;
                            } else {
                                auth_btn.disabled = true;
                                auth_btn.style.backgroundColor = "#ff5555";
                            }
                        }, 1000);


                        fetch('/authNumber', {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json; charset=utf-8'
                            },
                            body: JSON.stringify({
                                username: find_write_id.value,
                                email: find_write_email.value
                            })
                        })
                            .then((response) => response.text())
                            .then((data) => {
                                authNumber = data;
                            })
                            .catch(e => console.log("Error : ", e))
                    }
                })
                .catch(e => console.log("Error :" + e));
        }

        function authResult (){
            let auth_input = document.querySelector(".auth_input").value;
            if (auth_input === authNumber){
                modifyOpenModal();
            } else {
                alert("인증번호가 일치하지 않습니다.")
            }

        }

        function modifyBtn(){
            let write_username = document.querySelector("#write_username").value; // username
            let password = document.querySelector(".modify_password_input").value;
            let password2 = document.querySelector(".modify_password2_input").value;
            if (password === password2){
                fetch("/modifyPassword", {
                    method : "POST",
                    headers : {
                        'Content-Type': 'application/json; charset=utf-8'
                    },
                    body : JSON.stringify({
                        username : write_username,
                        password : password
                    })
                })
                    .then((response) => response.text())
                    .then((data) => {
                        alert(data);
                        modifyCloseModal();
                        openModal();
                    })
            } else {
                alert("비밀번호가 일치하지 않습니다.");
            }


        }

    </script>

</th:block>

</html>


