
/* product */
.product {overflow: hidden; margin: 0 auto; width: 970px; padding-top: 30px; box-sizing: border-box;}
.product .product_img {float: left; width: 50%; padding: 10px; }
.product .product_content {float: left; width: 50%;height: auto; padding: 10px;}
.product .product_img .product_main_img > img{height: 475px; padding: 0 50px 40px 0}
.product .product_content .singer { margin: 0; font-size: 20px;}
.product .product_content .title { margin: 0; font-size: 30px;}
.product .product_content .item_number {color: #838282; }
.product .product_content .price {padding-top: 7px; font-size: 27px; margin: 0;}
.product .product_content .post_price {padding-bottom: 17px;}
.product .product_content .buy_btn_box {padding-bottom: 20px;}
.product .product_content .buy_btn_box .like_btn {height: 46px; width: 10%; background-color: rgb(234, 234, 234); border: none; font-size: 15px; border-radius: 5px;}
.product .product_content .buy_btn_box .buy_btn {height: 45px; width: 44%; background-color: rgb(234, 234, 234); border: none; font-size: 16px; font-weight: 500; border-radius: 5px;}
.product .product_content .buy_btn_box .cart_btn {height: 45px; width: 44%; background-color: rgb(185, 216, 250); border: none; font-size: 16px; font-weight: 500; color: rgb(91, 91, 91);border-radius: 5px;}
.product .product_content .product_info .in_stock {color: rgb(144, 208, 144);}
.product .product_content .price_amount {overflow: hidden; height: 48px;}
.product .product_content .price_amount .price_amount_left{float: left;}
.product .product_content .price_amount .price_amount_right{float: right; padding: 15px; margin-right: 10px;}
.product .product_content .price_amount .price_amount_right  #amount{display: inline-block; width: 45px; height: 22px; border-radius: 5px;}
.product .product_content .price_amount .price_amount_right > p {display: inline-block; font-size: 17px;}
.product .product_content .product_info {width: 485px;}
.product .product_content .product_info .product_content_read{width: 485px;}
.product .product_content .product_info .product_content_read > p {word-wrap: break-word;}
.product .product_img .track_list > p{font-size: 13px; color: #9d9d9d;}
.product .product_img .track_list > hr {margin:15px 0;}
/* sub img */
.product .product_img .product_sub_img {overflow: hidden; padding: 0 0 20px 0;}
.product .product_img .product_sub_img > img {float: left; width: 100px; height: 100px; padding: 3px}








