/* drop */

/*.drop_box .drop_left{float:left;}
.drop_box .dropdown{float:right; margin-top: 40px; margin-right: 30px;}
.drop_box .dropdown > .btn {float:right; line-height: 10px;} */

#drop_box {position: relative; width: 970px; margin: 0 auto; padding: 0;}
#drop_box .dropdown {position: absolute;right: 23px; top: 30px;}
#drop_box .btn {line-height: 15px;}









/* item_list */

.item_list {padding-top: 10px;}
.item_list .item_box {
    overflow: hidden;
    margin-top: 30px;
    width: 970px;
    margin: 0 auto;
}
.item_list .item_box .item_vinyl {
    float: left;
    width: 33.3333%;
    box-sizing: border-box;
    margin-top: 15px;
    text-align: center;
}
.item_list .item_box .item_vinyl img {height: 300px; padding: 15px}
.item_list .item_box .item_vinyl > h4 {margin-top: 10px; font-size: 22px;}
.item_list .item_box .item_vinyl > p {font-size: 13px;}



/* itemPage_background */
.itemPage_img_box {background-color: black;  width: 100%;}
.itemPage_img_box .itemPage_background {background-color: black; width: 970px; height: 250px; margin: 0 auto;}
.itemPage_img_box  .itemPage_text {color: #ddd; text-align: center; padding-top: 35px;}




/* pagination */

#pagination_list { margin: 0 auto; text-align: center; padding-top: 40px; width:970px }
#pagination_list .pagination {color: black; }
#pagination_list .pagination > li > a {color: black; float:none; border-radius: 8px; font-size: 12px;}
#pagination_list .pagination > .active > a {background-color: rgb(198, 195, 195);}






