<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vinyl.boot.prod.service.ProdMapper">

    <insert id="prodRegist" parameterType="ProdVO">
        insert into prod (prod_name,
                          prod_singer,
                          prod_price,
                          prod_content,
                          prod_stock,
                          prod_category)
        values (#{prod_name},
                #{prod_singer},
                #{prod_price},
                #{prod_content},
                #{prod_stock},
                #{prod_category})
    </insert>

    <insert id="prodRegistImg" parameterType="ProdImgVO">
        <selectKey keyProperty="generatedKey" resultType="int" order="BEFORE">
            select prod_num from prod where prod_name = #{prod_name}
        </selectKey>

        insert into image (img_name,
                            img_uuid,
                            img_path,
                            img_type,
                            prod_num)
        values
        <foreach collection="list" item="item" separator=",">
        (#{item.img_name,jdbcType=VARCHAR},
        #{item.img_uuid,jdbcType=VARCHAR},
        #{item.img_path,jdbcType=VARCHAR},
        #{item.img_type,jdbcType=VARCHAR},
        #{generatedKey})
        </foreach>

    </insert>

    <select id="prodList" resultType="ProdVO">
        select * from prod order by prod_num DESC
    </select>

    <select id="prodListImg" resultType="ProdImgVO">
        select * from Image
        where img_type = '대표이미지'
        order by prod_num desc
    </select>


    <select id="prodNewList" resultType="ProdVO">
        select * from prod order by prod_num DESC
    </select>

    <select id="prodDetail" resultType="ProdVO">
        select * from prod where prod_num = #{prod_num}
    </select>

    <select id="prodDetailImg" resultType="ProdImgVO">
        select * From image
        where prod_num = #{prod_num} and img_type = '대표이미지'
    </select>

    <select id="prodDetailSubImg" resultType="ProdImgVO">
        select * From image
        where prod_num = #{prod_num} and img_type = '상세이미지'
    </select>

    <insert id="addCart">
        insert into cart (prod_count,
                          username,
                          prod_num,
                          cart_reg)
        values (#{amount},
                #{username},
                #{prod_num},
                now())
    </insert>

    <select id="cartList" resultType="ProdVO">
        SELECT * FROM cart c
        left join prod p
        on c.prod_num = p.prod_num
        where c.username = #{username}
        order by cart_reg DESC
    </select>

    <select id="cartListImg" resultType="ProdImgVO">
        SELECT i.prod_num,
               i.img_name,
               i.img_uuid,
               i.img_path
        FROM cart c
           left join prod p
                     on c.prod_num = p.prod_num
           left join image i
                     on p.prod_num = i.prod_num
        where c.username = #{username}
          and i.img_type = '대표이미지'
        order by cart_reg DESC
    </select>

    <delete id="deleteProd">
        delete from cart
        where username = #{username} and
              prod_num = #{prod_num}
    </delete>

    <insert id="trackList_add" parameterType="java.util.ArrayList">
        <selectKey keyProperty="prod_num" resultType="Integer" order="BEFORE">
            SELECT MAX(prod_num) FROM prod
        </selectKey>
        <foreach collection="list_name" item="name" separator=";">
            INSERT INTO trackList (track_name, prod_num)
            VALUES (#{name}, #{prod_num})
        </foreach>
    </insert>







</mapper>