<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vinyl.boot.prod.service.ProdMapper">

    <insert id="prodRegist" parameterType="ProdVO">
        insert into prod (prod_name,
                          prod_singer,
                          prod_price,
                          prod_content,
                          prod_stock,
                          prod_category)
        values (#{prod_name},
                #{prod_singer},
                #{prod_price},
                #{prod_content},
                #{prod_stock},
                #{prod_category})
    </insert>

</mapper>