<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vinyl.boot.user.service.UserMapper">

    <insert id="addJoin" parameterType="UserVO">
        insert into user (username,
                          password,
                          user_phone,
                          user_email,
                          user_add,
                          user_birth,
                          user_zonecode,
                          role)
        values(#{username},
               #{password},
               #{user_phone},
               #{user_email},
               #{user_add},
               #{user_birth},
               #{user_zonecode},
               'user')
    </insert>

    <select id="checkId" resultType="String">
        select IF(count(*) = 1, 'true', 'false') as result
        from user
        where username = #{username}
    </select>
    <select id="login" resultType="UserVO">
        select username,
               password,
               user_phone,
               user_email,
               user_add,
               user_birth,
               role
        From user
        where username = #{username}
    </select>

    <select id="checkEmail" resultType="int">
        SELECT IF(COUNT(username) = 1, 1, 0) as result
        from user
        where username = #{username} and
              user_email = #{email};
    </select>

    <update id="modifyPassword">
        update user
        set password = #{password}
        where username = #{username}
    </update>

    <select id="socialCheckEmail" parameterType="String">
        select IF(count(*) = 1, 'true', 'false') as result
        from user
        where user_email = #{email}
    </select>

    <select id="getUsername" parameterType="String">
        select username from user
        where user_email = #{email}
    </select>
</mapper>